body{
    margin: 0;
}
.container{
    background-color:  red;
}
.container-fluid{
    background-color:  lightcoral;
}
.column{
    background-color: pink;
    border-bottom: 5px red solid;
}
.column:nth-child(odd) {
    background-color: green;
}