
#slider{
    position: relative;
    overflow: hidden;
    height: 600px;
    background-color: rgba(155,155,155,0.5);
}

.slide-show{
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    height: 80%;
    width: 80%
}
    
.single-slide p{
    position: absolute;
    top: 0;
    color: white;
}